@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'DM Sans', sans-serif;
}

@layer base {
    h1 {
        @apply text-2xl font-black;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }

    h4 {
        @apply text-base font-bold;
    }

    h5 {
        @apply text-sm font-bold;
    }

    .card-canvas-container canvas {
        width: 100% !important;
        height: 100% !important;
        display: block;
    }
}
